* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #4D4C59;
  --purple: #6C63FF;
  --light-grey: #C8C8C8;
  --text-color: #9C9AB6;
}

body {
  height: 100vh;
}

body * {
  font-family: 'Poppins', sans-serif;
}

#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 60px;
}

#countdown-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#countdown-title {
  color: var(--purple);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.78px;
  text-transform: uppercase;
}

#countdown-timer-container {
  color: var(--black);
  font-size: 72px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.countdown-timer-legend {
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
}

.countdown-timer-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#subscribe-title {
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
}

#countdown-container button {
  cursor: pointer;
  width: fit-content;
  background: var(--purple);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 32px;
  margin: 11px auto 0;
  font-size: 16px;
  border: none;
}
